register-user {
    .btn{
        width: 90%;
    }
    
    .input{
        height:30px;
    }
   .rowTextField {
    background-color:red;
   }
   .combobox{
    max-width: none;
    width: 100%;

   }
}
