<!-- Generated template for the StaffPopoverComponent component -->
<div class="custom-staff-popover">
  <div class="bound-popover">
    <ion-searchbar (ionInput)="getItems($event)" placeholder="検索"></ion-searchbar>
    <div class="padding-top-list"></div>
    <ion-list>
      <!--Item-->
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/image/itemBackground.jpg" />
        </ion-avatar>
        <ion-label class="full-row-size">
          <div class="cached-padding-item"></div>
          <div class="title">Title</div>
          <div class="sub-title">Sub title</div>
        </ion-label>
      </ion-item>
      <!--Item-->
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/image/itemBackground.jpg" />
        </ion-avatar>
        <ion-label class="full-row-size">
          <div class="cached-padding-item"></div>
          <div class="title">Title</div>
          <div class="sub-title">Sub title</div>
        </ion-label>
      </ion-item>
      <div></div>
    </ion-list>
  </div>
</div>
